[Desktop Entry]
Type=Application
Name=Welcome to Mai BloomOS
Comment=A walk through Mai Bloom OS
Exec=welcometomaibloom
Icon=/usr/local/bin/welcometomaibloom/logo.png
Terminal=false
Categories=Utility;Application;
