[Desktop Entry]
Type=Application
Name=Welcome to Mai BloomOS
Comment=A walk through Mai Bloom OS
Exec=/usr/bin/welcometomaibloom
Icon=/usr/share/icons/hicolor/256x256/apps/welcometomaibloom.png
Terminal=false
Categories=Utility;Application;